<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/main.js" defer></script>
    <title>PM - AI6</title>
</head>

<body>
    <h1>AI6</h1>
    <form action="/todo/shutdown" method="get">
        <button type="submit">Shutdown</button>
    </form>

    <form action="/todo/restart" method="get">
        <button type="submit">Restart</button>
    </form>

    <form action="/todo/explorer" method="get">
        <button type="submit">Explorer</button>
    </form>

    <form>
        <input type="text" name="username" id="username" value="test">
        <input type="text" name="password" id="password" value="test">
        <input type="button" value="Submit" id="loginSub">
    </form>

    <button id="testbt">Fk it</button>
</body>

</html>